.content {
	@include container-vertical-padding;
}

.content--inverse {
	@include container-vertical-padding;

	@include inversed-all;
}

.content-section,
.content-section-narrow {
	@include gutter;

	.content-section,
	.content-section-narrow,
	& + .content-section,
	& + .content-section-narrow {
		@include section-margin-top;
	}

	.content-section,
	.content-section-narrow {
		padding-left: 0;
		padding-right: 0;
	}
}

.content-section {
	@include container;
}

.content-section-narrow {
	@include container-narrow;
}

.content-section-title,
.content-section-lead {
	text-align: center;
}