.gifts-accordion-item {
	& + & {
		margin-top: $global-margin;
	}
}

.gifts-accordion-header {
	@include media-object-container;

	margin-bottom: 0;
	position: relative;
	padding: $global-padding;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $anchor-color;
	}
}

.gifts-accordion-icon,
.gifts-accordion-header-body,
.gifts-accordion-chevron {
	@include media-object-section($global-padding);

	vertical-align: middle;
}

.gifts-accordion-icon {
	display: none;

	svg {
		width: rem-calc(45);
		height: rem-calc(45);
	}
}

.gifts-accordion-header-body {
	width: 100%;
}

.gifts-accordion-title {
	@include heading-size(h4);

	max-width: 30rem;
	margin-bottom: 0;
}

.gifts-accordion-chevron:after {
	@include chevron(top);

	display: block;
	content: "";
}

.gifts-accordion-item.is-active .gifts-accordion-chevron:after {
	@include chevron(bottom);
}

.gifts-accordion-image {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: .6;
	background: $black no-repeat center center;
	background-size: cover;
	transition: opacity .25s ease-out;
}

.gifts-accordion-item.is-active,
.gifts-accordion-header:hover {
	.gifts-accordion-image {
		opacity: .7;
	}
}

.gifts-accordion-content {
	display: none;
	margin-top: $global-margin;
}

@include breakpoint(medium) {
	.gifts-accordion-icon {
		@include media-object-section($global-padding);

		vertical-align: middle;
	}
}