.gifts-gallery {
	@include grid-row;
}

.gifts-gallery-item {
	@include grid-column(12, 0);

	display: table; // for horizontal centering
	position: relative;

	&:not(:last-child) {
		margin-bottom: $global-margin;
	}
}

.gifts-gallery-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	opacity: .4;
	background: $black no-repeat center center;
	background-size: cover;
}

.gifts-gallery-body {
	// Middle vertical align
	display: table-cell;
	vertical-align: middle;

	padding: 1rem;
	text-align: center;

	.button {
		margin-bottom: 0;
	}
}

.gifts-gallery-title,
.gifts-gallery-icon,
.gifts-gallery-exclusive {
	margin-bottom: .5rem;
}

.gifts-gallery-title {
	@include center-block;
}

.gifts-gallery-icon {
	@include center-block;

	width: rem-calc(45);
	height: rem-calc(45);
}

.gifts-gallery-exclusive {
	display: inline-block;
	padding: .1rem .4rem;
	color: $body-background;
	background-color: $white;
}

@include breakpoint(medium) {
	.gifts-gallery-item {
		@include grid-column(6, 0);

		margin-bottom: 0 !important;
	}

	.gifts-gallery-item:hover {
		.gifts-gallery-image {
			opacity: .3;
		}

		.gifts-gallery-front {
			display: none;
		}

		.gifts-gallery-back {
			display: block;
		}
	}

	.gifts-gallery-image,
	.gifts-gallery-body {
		height: rem-calc(220);
		max-height: rem-calc(220);
	}

	.gifts-gallery-image {
		opacity: .6;
	}

	.gifts-gallery-back {
		display: none;
	}

	.gifts-gallery-title {
		max-width: 15rem;
	}
}