$hero-quote-width: rem-calc(30);
$hero-quote-height: rem-calc(16);
$hero-quote-gutter: $hero-quote-width + rem-calc(5);

.hero {
	@include clearfix;

	@include gutter;

	@include container;

	@include section-margin-bottom;
}

.hero-image {
	text-align: center;
	margin-bottom: $global-margin;

	img {
		max-height: 15rem;
	}
}

.hero-headline-container {
	@include center-block;

	max-width: rem-calc(350);
	margin-bottom: (2 * $global-margin);
}

.hero-headline {
	position: relative;
	margin-bottom: 0;
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: $global-weight-bold;
	line-height: 1.15;

	&:after,
	&:before {
		display: block;
		content: "";
		width: $hero-quote-width;
		height: $hero-quote-height;
		background: url(../img/quote.svg) no-repeat center center;
	}

	&:before {
		margin-bottom: .7rem;
	}

	&:after {
		margin-top: .6rem;
		float: right;
	}

}

.hero-headline-primary-large {
	font-size: 1.6em;
	color: $primary-color;
}

.hero-headline-primary {
	color: $primary-color;
}

.hero-headline-right {
	display: block;
	text-align: right;
}

.hero-form {
	@include center-block;

	max-width: rem-calc(350);

	.row {
		$gutter: rem-calc(15);

		@include grid-row-nest($gutter);

		.columns {
			padding-left: rem-calc($gutter/2);
			padding-right: rem-calc($gutter/2);
		}

		.button {
			margin-bottom: 0;
		}
	}

	&.is-loading {
		position: relative;

		.hero-form-content {
			pointer-events: none;
			opacity: .1;
		}
	}
}

.hero-form-loading {
	display: none;
}

@include breakpoint(medium) {
	.hero-inner {
		@include grid-row;
	}

	.hero-image {
		@include grid-column(5, 0);

		margin-bottom: 0;

		img {
			max-height: 21rem;
		}
	}

	.hero-body {
		@include grid-column(7, 0);
	}

	.hero-form {
		.row input {
			margin-bottom: 0;
		}
	}
}

@include breakpoint(large) {
	.hero-headline-container {
		max-width: rem-calc(470);
	}

	.hero-headline {
		margin-left: $hero-quote-gutter;
		margin-right: $hero-quote-gutter;
		font-size: rem-calc(map-get(map-get($header-sizes, medium), h2));

		&:after,
		&:before {
			position: absolute;
		}

		&:before {
			top: rem-calc(25);
			left: - $hero-quote-gutter;
		}

		&:after {
			right: - $hero-quote-gutter;
			bottom: rem-calc(25);
		}
	}

}