$how-to-body-background: $white;
$how-to-arrow-size: rem-calc(25);
$how-to-half-height: (
	small: rem-calc(180),
	medium: rem-calc(240),
);

.how-to {
	@include grid-row;
}

.how-to-column {
	@include grid-column(12, 0);

	display: table;
	position: relative;
	margin-bottom: $global-margin;

	// step number
	@for $i from 1 through 3 {
		&:nth-child(#{$i}) .how-to-body:before {
			content: "#{$i}.";
		}
	}
}

.how-to-image {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: $black no-repeat center center;
	background-size: cover;
}

.how-to-body {
	@include inversed-text;

	@include inversed-anchors;

	// Middle vertical align
	display: table-cell;
	vertical-align: middle;

	position: relative; // Due to arrow
	padding: 1rem;
	text-align: center;
	background-color: $how-to-body-background;

	p {
		@include center-block;

		max-width: 20rem;
		margin-bottom: rem-calc( map-get( map-get( $header-sizes, medium ), h3 ) ); // Middle vertical align
	}

	&:before {
		@include heading-size (h3);

		font-weight: $global-weight-bold;
		color: $primary-color;
	}

	// Arrow position
	&:after {
		display: block;
		position: absolute;
		content: "";
		left: 50%;
		margin-left: -$how-to-arrow-size;
		z-index: 1;
	}

	// Arrow top
	&:after {
		@include arrow (top, $how-to-arrow-size, $how-to-body-background);

		top: -($how-to-arrow-size - rem-calc(1)); // 1px fixes offset bug
	}
}

// height of column depends on viewport width
@each $size, $height in $how-to-half-height {
	@include breakpoint($size) {
		.how-to-column {
			padding-top: $height; // Due to absolute image
		}

		.how-to-image,
		.how-to-body {
			height: $height;
			max-height: $height;
		}
	}
}

@include breakpoint(medium) {
	.how-to-column {
		@include grid-column(4, 0);

		display: block;
		padding-top: 0;
	}

	.how-to-image {
		position: static;
	}

	.how-to-body {

		// Arrow bottom
		&:nth-child(odd):after {
			@include arrow (bottom, $how-to-arrow-size, $how-to-body-background);

			top: auto;
			bottom: -($how-to-arrow-size - rem-calc(1)); // 1px fixes offset bug
		}
	}
}