.page-footer {
	font-size: $small-font-size;
	text-align: center;
	background-color: $primary-color;

	li,
	p,
	address {
		margin-bottom: $global-margin;
	}

	ul {
		margin-bottom: 0;
		margin-left: 0;
	}

	li {
		display: inline-block;

		margin-right: $global-margin/2;
		margin-left: $global-margin/2;
	}

	address {
		@include center-block;

		max-width: 27rem;
		font-style: normal;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.page-footer-inner {
	@include gutter;

	@include container;

	padding-top: rem-calc(30);
	padding-bottom: rem-calc(30);
}

.page-footer-brand-list {
	img {
		max-height: rem-calc(67);
	}
}
