.page-navigation {
	@include gutter;

	@include container;

	margin-bottom: $global-margin;

	* {
		margin-bottom: 0;
	}
}

.page-navigation-bottom {
	@include gutter;

	@include container;

	margin-top: $global-margin;

	text-align: center;

	* {
		margin-bottom: 0;
	}
}