$logo-height: 3rem;

.top-bar {
	font-weight: $global-weight-bold;
	background-color: $topbar-background;
}

.top-bar-inner {
	@include clearfix;

	@include gutter;

	@include container;

	padding-top: $topbar-vertical-padding;
	padding-bottom: $topbar-vertical-padding;
}

.top-bar-logo {
	float: left;

	img {
		height: $logo-height;
		max-width: none;
	}
}

.top-bar-menu {
	@include menu-base;

	@include menu-direction(vertical);

	display: none;
	float: left;
	width: 100%;
	margin-top: $topbar-vertical-padding;
	text-transform: uppercase;

	a {
		text-decoration: none;
	}
}

.top-bar-toggle {
	float: right;
	height: $logo-height;

	svg {
		height: $logo-height;
		width: rem-calc(40);
	}
}

@include breakpoint(medium) {
	.top-bar-menu {
		@include menu-direction;

		display: block;
		float: right;
		width: auto;
		margin-top: 0;

		> li > a {
			$vertical-padding: ($logo-height - 1rem) / 2; // for vertical centering

			padding-top: $vertical-padding;
			padding-bottom: $vertical-padding;
		}
	}

	.top-bar-toggle {
		display: none;
	}
}
