.voucher,
.voucher-win {
	position: relative;

	&:before {
		display: block !important;
		height: 100%;
		width: 100%;
		content: "";
		position: absolute;
		top: 0;
		z-index: -1;
		background: url(../img/voucher-background.jpg) no-repeat center center;
		background-size: cover;
	}
}

.voucher {
	font-weight: $global-weight-bold;
	background-color: rgba($black, .7);
}

.voucher-win {
	@include inversed-all;

	background-color: rgba($white, .8);

	a:not(.button) {
		&,
		&:hover,
		&:focus {
			color: $black;
		}
	}
}

.voucher-image {
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;

	img {
		max-height: rem-calc(200);
		box-shadow: 15px 20px 50px rgba($black, .4);
		transform: rotate(-10deg);
	}
}

.voucher-body {
	@include heading-size(h3);

	padding: $global-padding;
	text-align: center;

	p {
		margin-bottom: 0;
	}

	.button {
		display: inline-block;
		margin-top: 1rem;
		margin-bottom: 0;
	}
}

.voucher-title {
	@include heading-size(h3);

	margin-bottom: 1rem;
}

.voucher-share {
	@include share;

	margin-top: 1rem;
	text-align: center;
}

@include breakpoint(medium) {
	.voucher,
	.voucher-win {
		@include flex-grid-row;

		align-items: center;
	}

	.voucher-image {
		@include flex-grid-column(5, (2 * $global-padding));
	}

	.voucher-body {
		@include flex-grid-column(7, (2 * $global-padding));
	}

	.voucher-body {
		text-align: left;
	}
}

@include breakpoint(large) {
	.voucher,
	.voucher-win {
		min-height: 17rem;
	}
}