<footer class="page-footer" role="contentinfo">
	<div class="page-footer-inner">
		<ul>
			<li><a href="#">Kontaktní e-mail</a></li>
			<li><a href="#">Ochrana dat</a></li>
			<li><a href="#">Podmínky užití</a></li>
			<li><a href="#">Politika cookie</a></li>
			<li><a href="#">Podmínky soutěže</a></li>
			<li><a href="#">Informace pro soutěžící</a></li>
			<li><a href="#">Vygeneruj si kód</a></li>
		</ul>

		<ul class="page-footer-brand-list">
			<li><a href="#"><img src="assets/img/plus-pro-vas-cs.png" alt="Plus pro Vás od Nestlé"></a></li>
			<li><a href="#"><img src="assets/img/nestle-moto.png" alt="Nestlé — Good Food, Good Life"></a></li>
		</ul>

		<p><a href="#">Kontaktujte nás</a></p>

		<p>© 2016 Copyright Nestlé Česko s.r.o.</p>

		<address>Mezi Vodami 2035/31, 143 00 Praha 4 — Modřany<br>
		IČ: 45799504, DIČ: CZ45799504<br>
		Společnost je zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, spisová značka oddíl C, vložka 10481.</address>

		<p>Vytvořeno v <a href="#">Loosers</a> a <a href="#">Brand New</a>.</p>

	</div>
</footer>