<div class="gifts-accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">

	<div class="gifts-accordion-item" data-accordion-item>

		<a class="gifts-accordion-header" href="#">

			<div class="gifts-accordion-icon">
				<svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-skit"></use></svg>
			</div>

			<div class="gifts-accordion-header-body">
				<h3 class="gifts-accordion-title">Zkoukni 3 scénky Tomáše&nbsp;Matonohy &&nbsp;Lucie&nbsp;Benešové a&nbsp;zasměj se</h3>
			</div>

			<div class="gifts-accordion-chevron"></div>

			<div class="gifts-accordion-image" style="background-image:url(assets/img/gifts/matonoha-benesova.jpg)"></div>

		</a>

		<div class="gifts-accordion-content" data-tab-content>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button">Vyzvednout výhru</a></li>
					</ul>
				</div>
			</article>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button">Vyzvednout výhru</a></li>
					</ul>
				</div>
			</article>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button">Vyzvednout výhru</a></li>
					</ul>
				</div>
			</article>

		</div>
	</div>

	<div class="gifts-accordion-item" data-accordion-item>

		<a class="gifts-accordion-header" href="#">

			<div class="gifts-accordion-icon">
				<svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-story"></use></svg>
			</div>

			<div class="gifts-accordion-header-body">
				<h3 class="gifts-accordion-title">Začti se do 3&nbsp;povídek<br>Ondřeje&nbsp;Neffa</h3>
			</div>

			<div class="gifts-accordion-chevron"></div>

			<div class="gifts-accordion-image" style="background-image:url(assets/img/gifts/tomas-hanak.jpg)"></div>

		</a>

		<div class="gifts-accordion-content" data-tab-content>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-download"></use></svg> Stáhnout výhru</a></li>
						<li><a href="#" class="button"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-eye"></use></svg> Přečíst online</a></li>
					</ul>
				</div>
			</article>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button">Vyzvednout výhru</a></li>
					</ul>
				</div>
			</article>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button">Vyzvednout výhru</a></li>
					</ul>
				</div>
			</article>

		</div>
	</div>

	<div class="gifts-accordion-item" data-accordion-item>

		<a class="gifts-accordion-header" href="#">

			<div class="gifts-accordion-icon">
				<svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-audiobook"></use></svg>
			</div>

			<div class="gifts-accordion-header-body">
				<h3 class="gifts-accordion-title">Zaposlouchej se do 3&nbsp;audiopovídek Haliny&nbsp;Pawlowské a&nbsp;pobav se</h3>
			</div>

			<div class="gifts-accordion-chevron"></div>

			<div class="gifts-accordion-image" style="background-image:url(assets/img/gifts/halina-pawlowska.jpg)"></div>

		</a>

		<div class="gifts-accordion-content" data-tab-content>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-download"></use></svg> Stáhnout výhru</a></li>
						<li><a href="#" class="button"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-eye"></use></svg> Přečíst online</a></li>
					</ul>
				</div>
			</article>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button">Vyzvednout výhru</a></li>
					</ul>
				</div>
			</article>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button">Vyzvednout výhru</a></li>
					</ul>
				</div>
			</article>

		</div>
	</div>

	<div class="gifts-accordion-item" data-accordion-item>

		<a class="gifts-accordion-header" href="#">

			<div class="gifts-accordion-icon">
				<svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-cd"></use></svg>
			</div>

			<div class="gifts-accordion-header-body">
				<h3 class="gifts-accordion-title">Pusť si album CHINASKI<br>a&nbsp;odreaguj se</h3>
			</div>

			<div class="gifts-accordion-chevron"></div>

			<div class="gifts-accordion-image" style="background-image:url(assets/img/gifts/chinaksi.jpg)"></div>

		</a>

		<div class="gifts-accordion-content" data-tab-content>

			<article class="gift-thumbnail">
				<div class="gift-thumbnail-left">
					<img class="gift-thumbnail-image" src="assets/img/gifts/povidka-tomase-hanaka.jpg" alt="Povídka Tomáše Hanáka">
					<dl class="gift-thumbnail-share">
						<dt>Sdílet</dt>
						<dd>
							<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a>
						</dd>
					</dl>
				</div>
				<div class="gift-thumbnail-body">
					<h4 class="gift-thumbnail-title">Povídka</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex sem. Nunc molestie sem enim, vitae bibendum massa fringilla non.</p>
					<ul class="gift-thumbnail-button-list">
						<li><a href="#" class="button"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-download"></use></svg> Stáhnout výhru</a></li>
						<li><a href="#" class="button"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-eye"></use></svg> Přečíst online</a></li>
					</ul>
				</div>
			</article>

		</div>
	</div>

</div>