<header class="top-bar" role="banner">
	<div class="top-bar-inner">

		<a href="." class="top-bar-logo"><img src="assets/img/nescafe-logo.svg" alt="NESCAFÉ"></a>

		<span class="top-bar-toggle" data-responsive-toggle="navigation">
			<button type="button" data-toggle>
				<span class="show-for-sr">Menu</span>
				<svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-menu"></use></svg>
			</button>
		</span>

		<ul class="top-bar-menu" id="navigation">
			<li><a href="./index.html#prices">Výhry</a></li>
			<li><a href="page.html">Pravidla</a></li>
			<li><a href="products.html">Produkty</a></li>
		</ul>

	</div>
</header>