<section class="hero">
	<div class="hero-image">
		<img src="assets/img/cup.jpg" alt="Hrneček Nescafé">
	</div>
	<div class="hero-body">

		<div class="hero-headline-container">
			<p class="hero-headline">Kup Nescafé Classic<br>
			a <span class="hero-headline-primary-large">vyhraj 222</span>&nbsp;<span class="hero-headline-primary">x</span><br>
			<span class="hero-headline-right">rozesmátý den</span></p>
		</div>

		<form class="hero-form" id="compete" autocomplete="off" data-loading data-loading-text="Kdo si počká, ten se dočká">
			<div class="hero-form-content">
				<label>Zadej e-mail</label>
				<input type="email" value="jan.novak@seznam.cz" placeholder="Váše e-mailová adresa" required>
				<label class="has-error">Zadej kód</label>
				<div class="row">
					<div class="medium-8 columns">
						<input type="text" class="has-error" value="BED876G4" placeholder="Kód NESCAFÉ" minlength="8" maxlength="8" required>
					</div>
					<div class="medium-4 columns">
						<button type="submit" class="button expanded">Odeslat</button>
					</div>
				</div>
				<div class="alert" role="alert">Neplatný kód</div>
			</div>
		</form>

	</div>
</section>