<main class="content">

	<aside class="page-navigation">
		<a href="." class="button">Zpět</a>
	</aside>

	<section class="content-section">

		<h2 class="content-section-title">Na mém balení chybí kód a chci soutěžit</h2>

		<div class="how-to">
			<div class="how-to-column">
				<div class="how-to-image" style="background-image:url(assets/img/how-to-play/nescafe-classic.jpg)"></div>
				<div class="how-to-body">
					<p>Zadej název obchodu a&nbsp;město, kde jsi zakoupil/a NESCAFÉ CLASSIC CREMA 200&nbsp;g nebo NESCAFÉ CLASSIC 200&nbsp;g.</p>
				</div>
			</div>
			<div class="how-to-column">
				<div class="how-to-body">
					<p>Zadej přesné datum z&nbsp;účtenky ze dne nákupu</p>
				</div>
				<div class="how-to-image" style="background-image:url(assets/img/how-to-play/nescafe-code.jpg)"></div>
			</div>
			<div class="how-to-column">
				<div class="how-to-image" style="background-image:url(assets/img/how-to-play/nescafe-web.jpg)"></div>
				<div class="how-to-body">
					<p>Nakonec uveď svůj email, na který Ti zašleme unikátní kód</p>
				</div>
			</div>
		</div>

		<ul class="menu-list">
			<li><a href="page.html">Úplná pravidla</a></li>
		</ul>

		<section class="content-section">

			<form class="form-generator" autocomplete="off" data-loading data-loading-text="Kdo si počká, ten se dočká">
				<div class="form-generator-content">
					<div class="form-generator-row">
						<div class="form-generator-column">
							<label>Místo nákupu</label>
							<select required>
								<option>Praha</option>
								<option>Brno</option>
							</select>
						</div>
						<div class="form-generator-column">
							<label>Datum nákupu</label>
							<input type="date" placeholder="Zadej datum" required>
						</div>
						<div class="form-generator-column">
							<label>E-mail</label>
							<input type="email" placeholder="Zadej e-mail" required>
						</div>
					</div>
					<button type="submit" class="button">Generovat kód</button>
				</div>
			</form>

		</section>

	</section>

</main>