<main class="content">

	<!-- process:include organisms/hero.html--><!-- /process -->

	<section class="content-section-narrow" id="daily-win">

		<h2 class="content-section-title">Bohužel, nevyhráváš hlavní cenu. Ale nezoufej, i&nbsp;tak pro Tebe máme fajn dárek.</h2>
		<p class="content-section-lead">Chceš ho rychlo rozbalit pře mobil? Doporučujeme připojit se k&nbsp;nejbližší wi-fi.</p>

		<section class="content-section">

			<!-- process:include organisms/gifts-accordion.html--><!-- /process -->

		</section>

	</section>

</main>