<main class="content">

	<!-- process:include organisms/hero.html--><!-- /process -->

	<section class="content-section">

		<div class="voucher-win">
			<div class="voucher-image">
				<img src="assets/img/voucher.jpg" alt="Zážitkový poukaz na 5000 Kč od Allegria">
			</div>
			<div class="voucher-body">
				<h2 class="voucher-title">Gratulujeme Ti! Rozesmátý den je Tvůj! Vyber si až z tisíce zážitků od&nbsp;<a href="#">Allegria</a> v&nbsp;hodnotě 5&nbsp;000&nbsp;Kč</h2>
				<p>Na emailu najdeš svůj zážitkový poukaz a&nbsp;další instrukce. Užij si to!</p>
				<dl class="voucher-share">
					<dt>Sdílet</dt>
					<dd>
						<a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook-black"></use></svg></a>
					</dd>
				</dl>
			</div>
		</div>

		<section class="content-section-narrow">

			<h3 class="content-section-title">A tady máš ještě dárek navíc!</h3>

			<!-- process:include organisms/gifts-accordion.html--><!-- /process -->

		</section>

	</section>

</main>