<main class="content">

	<!-- process:include organisms/hero.html--><!-- /process -->

	<section class="content-section">

		<h2 class="content-section-title">Jak hrát s NESCAFÉ CLASSIC?</h2>

		<div class="how-to">
			<div class="how-to-column">
				<div class="how-to-image" style="background-image:url(assets/img/how-to-play/nescafe-classic.jpg)"></div>
				<div class="how-to-body">
					<p>Kup NESCAFÉ CLASSIC CREMA 200&nbsp;g nebo NESCAFÉ CLASSIC 200&nbsp;g a&nbsp;uschovej si účtenku</p>
				</div>
			</div>
			<div class="how-to-column">
				<div class="how-to-body">
					<p>Setři pole na přebalu a získej unikátní kód</p>
				</div>
				<div class="how-to-image" style="background-image:url(assets/img/how-to-play/nescafe-code.jpg)"></div>
			</div>
			<div class="how-to-column">
				<div class="how-to-image" style="background-image:url(assets/img/how-to-play/nescafe-web.jpg)"></div>
				<div class="how-to-body">
					<p>Zadej kód do <a href="#compete">formuláře</a> a okamžitě se dozvíš, zda a co vyhráváš</p>
				</div>
			</div>
		</div>

		<ul class="menu-list">
			<li><a href="code-generator.html">Na mám balení chybí kód</a></li>
			<li><a href="page.html">Úplná pravidla</a></li>
		</ul>

	</section>

	<section class="content-section" id="prices">

		<h2 class="content-section-title">Na jaké výhry se můžeš těšit?</h2>

		<div class="voucher">
			<div class="voucher-image">
				<img src="assets/img/voucher.jpg" alt="Zážitkový poukaz na 5000 Kč od Allegria">
			</div>
			<div class="voucher-body">
				<p>Vyhraj rozesmátý den a&nbsp;vyber&nbsp;si až z&nbsp;tisíce zážitků od&nbsp;<a href="http://www.firmanazazitky.cz/">Allegria</a> v&nbsp;hodnotě 5&nbsp;000&nbsp;Kč!</p>
				<a class="button" href="#compete">Soutěžit</a>
			</div>
		</div>

		<section class="content-section">

			<h3 class="content-section-title">Pro každého máme dárek ke stažení!</h3>

			<div class="gifts-gallery">
				<article class="gifts-gallery-item">
					<div class="gifts-gallery-image" style="background-image:url(assets/img/gifts/matonoha-benesova.jpg)"></div>
					<div class="gifts-gallery-body">
						<div class="gifts-gallery-front">
							<svg class="gifts-gallery-icon" role="img"><use xlink:href="assets/img/svg-defs.svg#shape-skit"></use></svg>
							<h4 class="gifts-gallery-title">Zasměj se u&nbsp;scének Tomáše&nbsp;Matonohy &&nbsp;Lucie&nbsp;Benešové</h4>
						</div>
						<div class="gifts-gallery-back">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie elit quis erat porta lacinia.</p>
							<a class="button" href="#compete">Soutěžit</a>
						</div>
					</div>
				</article>
				<article class="gifts-gallery-item">
					<div class="gifts-gallery-image" style="background-image:url(assets/img/gifts/tomas-hanak.jpg)"></div>
					<div class="gifts-gallery-body">
						<div class="gifts-gallery-front">
							<svg class="gifts-gallery-icon" role="img"><use xlink:href="assets/img/svg-defs.svg#shape-story"></use></svg>
							<h4 class="gifts-gallery-title">Začti se do&nbsp;povídek Ondřeje&nbsp;Neffa</h4>
						</div>
						<div class="gifts-gallery-back">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie elit quis erat porta lacinia.</p>
							<a class="button" href="#compete">Soutěžit</a>
						</div>
					</div>
				</article>
				<article class="gifts-gallery-item">
					<div class="gifts-gallery-image" style="background-image:url(assets/img/gifts/halina-pawlowska.jpg)"></div>
					<div class="gifts-gallery-body">
						<div class="gifts-gallery-front">
							<svg class="gifts-gallery-icon" role="img"><use xlink:href="assets/img/svg-defs.svg#shape-audiobook"></use></svg>
							<h4 class="gifts-gallery-title">Zaposlouchej se do&nbsp;audiopovídek Haliny&nbsp;Pawlowské</h4>
						</div>
						<div class="gifts-gallery-back">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie elit quis erat porta lacinia.</p>
							<a class="button" href="#compete">Soutěžit</a>
						</div>
					</div>
				</article>
				<article class="gifts-gallery-item">
					<div class="gifts-gallery-image" style="background-image:url(assets/img/gifts/chinaksi.jpg)"></div>
					<div class="gifts-gallery-body">
						<div class="gifts-gallery-front">
							<svg class="gifts-gallery-icon" role="img"><use xlink:href="assets/img/svg-defs.svg#shape-cd"></use></svg>
							<h4 class="gifts-gallery-title">Pusť si pecky od&nbsp;CHINASKI</h4>
							<span class="gifts-gallery-exclusive">Exkluzivně v&nbsp;<strong>TESCO</strong></span>
						</div>
						<div class="gifts-gallery-back">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie elit quis erat porta lacinia.</p>
							<a class="button" href="#compete">Soutěžit</a>
						</div>
					</div>
				</article>
			</div>

		</section>

	</section>

</main>
