<main class="content--inverse">

	<aside class="page-navigation">
		<a href="." class="button">Zpět</a>
	</aside>

	<article class="page">

		<!-- začátek řádku -->
		<div class="row container100">
			<div class="large-12 columns first"><!-- sloupec 12 -->
				<div class="sh-header"><!-- shape nadpisu -->
					<h1>Nadpis stránky</h1><!-- obsah komponenty -->
				</div>
				<div class="sh-richEdit"><!-- shape HTML textu -->
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie elit vitae nunc molestie, eu accumsan libero blandit. Nulla sapien turpis, posuere nec malesuada et, convallis in mauris. Quisque aliquam velit vel lorem tristique, sit amet lobortis libero faucibus. Curabitur sed metus ultrices, maximus nulla ac, ornare ipsum. Quisque eu sagittis lectus, quis placerat felis. Praesent dignissim accumsan nunc, quis commodo orci rhoncus a. Fusce at ipsum non quam iaculis sodales. Donec in tempus ex, iaculis luctus erat.</p>
					<p>Aenean et lacinia odio. Fusce a odio id odio semper imperdiet. Integer id sodales justo. Integer magna est, ornare vel congue vel, bibendum vitae metus. Sed blandit turpis condimentum, ullamcorper ipsum sit amet, lobortis nisi. Fusce dictum orci non quam volutpat egestas. Phasellus tempus ut massa ut luctus. Etiam dapibus dapibus elit quis auctor. Nam consequat nisl ex, id volutpat massa facilisis ac. Aliquam et placerat purus. Aliquam justo nisi, ornare ac magna ut, volutpat placerat felis. Nulla tempor lobortis arcu id convallis. Duis mauris massa, faucibus sed metus a, pulvinar rutrum lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ac justo et lectus sagittis vehicula sit amet vel turpis. Quisque consectetur sit amet ex sit amet tincidunt.</p><!-- obsah komponenty -->
				</div>
			</div>
		</div>
		<!-- konec řádku -->

		<!-- začátek řádku -->
		<div class="row container50-50">
			<div class="large-6 columns first"><!-- sloupec 6 -->
				<div class="sh-subheader"><!-- shape podnadpisu -->
					<h2>Podnadpis sekce</h2>
				</div>
				<div class="sh-image"><!-- shape obrázku -->
					<img src="http://placehold.it/350x350" alt="Placeholder">
				</div>
			</div>
			<div class="large-6 columns second"><!-- sloupec 6 -->
				<div class="sh-subheader"><!-- shape podnadpisu -->
					<h2>Podnadpis sekce</h2>
				</div>
				<div class="sh-image"><!-- shape obrázku -->
					<img src="http://placehold.it/350x350" alt="Placeholder">
				</div>
			</div>
		</div>
		<!-- konec řádku -->


		<!-- začátek řádku -->
		<div class="row container66-33">
			<div class="large-8 columns first"><!-- sloupec 6 -->
				<div class="sh-subheader"><!-- shape podnadpisu -->
					<h2>Dělení 66-33: Hlavní část</h2>
				</div>
			</div>
			<div class="large-4 columns second"><!-- sloupec 6 -->
				<div class="sh-subheader"><!-- shape podnadpisu -->
					<h2>a sidebar</h2>
				</div>
				<div class="sh-image"><!-- shape obrázku -->
					<img src="http://placehold.it/150x150" alt="Placeholder">
				</div>
			</div>
		</div>
		<!-- konec řádku -->




		<!-- začátek řádku -->
		<div class="row container50-50">
			<div class="large-6 columns first"><!-- sloupec 6 -->
				<div class="sh-richEdit"><!-- shape HTML textu -->
					<p>Proin nunc ipsum, lacinia eu accumsan vel, suscipit ut leo. Etiam pharetra dolor ullamcorper velit sollicitudin, quis dignissim tortor eleifend. In placerat est sed nulla pellentesque sollicitudin.</p>
					<p><strong>Tučný text v odstavci</strong></p>
					<p><i>Text v odstavci kurzívou</i></p>
					<p>Tento odstavec testuje, jestli máme <a href="#">správně podtrhané a obarvené odkazy</a></p>
					<ul>
						<li><a href="#">Správně podtrhaný a obarvený odkaz</a></li>
						<li>První položka seznamu</li>
						<li>Prostřední položka seznamu</li>
						<li>Poslední položka seznamu</li>
					</ul>

					<ol>
						<li>První položka seznamu</li>
						<li>Druhá položka seznamu</li>
						<li>Třetí položka seznamu</li>
						<li>Čtvrtá položka seznamu</li>
					</ol>

					<table>
						<thead>
							<tr>
								<th>První</th>
								<th>Druhá</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Tabulka</td>
								<td>by nikdy</td>
							</tr>
							<tr>
								<td>neměla být</td>
								<td>potřeba</td>
							</tr>
							<tr>
								<td colspan="2">ale pro jistotu...</td>
							</tr>
						</tbody>
					</table>

					<hr />

					<p>A bacha, obrázek může být i tady</p>

					<img src="http://placehold.it/350x100" alt="Placeholder">
				</div>
			</div>

			<div class="large-6 columns second"><!-- sloupec 6 -->
				<div class="sh-contact">
					<form class="contact-form" action="#" method="post" id="#">
						<div>
							<label for="frm-7-form-name">Jméno a příjmení</label>
							<input type="text" name="name" id="frm-7-form-name" required>
						</div>
						<div>
							<label for="frm-7-form-email">E-mail</label>
							<input type="text" name="email" id="frm-7-form-email" required>
						</div>
						<div>
							<label for="frm-7-form-message">Zpráva</label>
							<textarea name="message" id="frm-7-form-message" required></textarea>
						</div>
						<div class="buttons">
							<input class="button" value="Odeslat zprávu" type="submit" name="_submit" id="frm-7-form-submit">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- konec řádku -->

	</article>

</main>
