<main class="content">

	<aside class="page-navigation">
		<a href="." class="button">Zpět</a>
	</aside>

	<h1 class="show-for-sr">Produkty</h1>

	<article class="product">
		<div class="product-image">
			<img src="assets/img/products/nescafe-classic-crema.jpg" alt="NESCAFÉ CLASSIC CREMA">
		</div>
		<div class="product-body">
			<header>
				<h2 class="product-title">NESCAFÉ CLASSIC CREMA</h2>
				<p class="product-subtitle">Nastartuj den s úsměvem!</p>
			</header>
			<p>Preferuješ výraznou kávu se silnou chutí? Miluješ jemnou pěnu lískooříškové barvy? Pak je NESCAFÉ CLASSIC CREMA ta správná volba pro Tebe!</p>
		</div>
	</article>

	<article class="product">
		<div class="product-image">
			<img src="assets/img/products/nescafe-classic.jpg" alt="NESCAFÉ CLASSIC CREMA">
		</div>
		<div class="product-body">
			<header>
				<h2 class="product-title">NESCAFÉ CLASSIC</h2>
				<p class="product-subtitle">Nastartuj den s úsměvem!</p>
			</header>
			<p>Chutná Ti klasika a potrpíš si na výraznou chuť, která Ti po ránu otevře oči? Naše ikonická káva NESCAFÉ CLASSIC je pro Tebe ta pravá!</p>
		</div>
	</article>

	<aside class="page-navigation-bottom">
		<a href="." class="button">Více informací</a>
	</aside>

</main>

