// ===============================================================
// Nescafe Sans
// ===============================================================

// Regular
@font-face {
	font-family: Nescafe Sans;
	font-style: normal;
	font-weight: 400;
	src: url(../font/nescafe-sans-regular.woff) format("woff");
}
// Bold
@font-face {
	font-family: Nescafe Sans;
	font-style: bold;
	font-weight: 700;
	src: url(../font/nescafe-sans-bold.woff) format("woff");
}
