textarea {
	min-height: (4 * $global-lineheight * 1rem); // 4 rows
}

a svg,
a img {
	&:hover,
	&:focus {
		opacity: $anchor-image-opacity-hover;
	}
}

// Apply font when loaded
@include breakpoint(medium) {
	.wf-active {
		body {
			font-family: $body-font-family-wf-active;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: $header-font-family-wf-active;
		}
	}
}

// IE8 upgrade note
.browsehappy {
	margin: 0;
	text-align: center;
}