.button {
	@include button;

	font-weight: $global-weight-bold;
	text-decoration: none;

	svg {
		height: .8rem;
		width: .8rem;
		margin-right: .5rem;
		text-align: center;
	}

	&.expanded {
		@include button-expand;
	}
}
