.form-generator {
	.button[type="submit"] {
		@include button-expand;

		margin-bottom: 0;
	}

	&.is-loading {
		position: relative;

		.form-generator-content {
			pointer-events: none;
			opacity: .1;
		}
	}

}

.form-generator-column {
	label:before {
		color: $primary-color;
	}

	// step number
	@for $i from 1 through 3 {
		&:nth-child(#{$i}) label:before {
			content: "#{$i}. ";
		}
	}
}

@include breakpoint(medium) {
	.form-generator {
		.button[type="submit"] {
			@include center-block;

			width: auto;
		}

	}

	.form-generator-row {
		@include grid-row-nest;
	}

	.form-generator-column {
		@include grid-column(4);
	}
}