@include foundation-form-text;

@include foundation-form-select;

@include foundation-form-label;

@include foundation-form-prepostfix;

label {
	&.has-error {
		color: $warning-color;
	}
}

input,
textarea {
	// Placeholder text
	&::placeholder {
		color: $input-placeholder-color;
	}

	&.has-error,
	&.has-error:focus {
		border-color: $warning-color;
	}
}

.placeholder {
	color: $input-placeholder-color;
}