.gift-thumbnail {
	& + & {
		margin-top: $global-margin;
	}
}

.gift-thumbnail-image,
.gift-thumbnail-title {
	margin-bottom: 1rem;
}

.gift-thumbnail-button-list {
	margin-left: 0;
	margin-bottom: 0;

	li {
		display: block;

		+ li {
			margin-top: 1rem;
		}
	}

	.button {
		margin-bottom: 0;
	}
}

.gift-thumbnail-share {
	@include share;

	margin-bottom: 1rem;
}

@include breakpoint(medium) {
	.gift-thumbnail {
		@include grid-row-nest;

		@include clearfix;
	}

	.gift-thumbnail-left,
	.gift-thumbnail-body {
		@include grid-column(6);
	}

	.gift-thumbnail-share {
		margin-bottom: 0;
		text-align: center;
	}
}