.menu-list {
	margin-bottom: 0;
	margin-left: 0;
	text-align: center;

	li {
		display: block;

		& + li {
			margin-top: $global-margin;
		}
	}
}

@include breakpoint (medium) {
	.menu-list li {
		display: inline-block;
		margin-top: 0 !important;
		margin-right: $global-margin/2;
		margin-left: $global-margin/2;
	}
}