.product {
	@include gutter;

	@include container-narrow;

	@include media-object-container;

	margin-bottom: (2 * $global-margin);

	&:last-of-type {
		margin-bottom: 0;
	}
}

.product-image {
	img {
		height: 20rem;
		max-width: none;
	}
}

.product-body {
	padding-bottom: 0 !important; // rewrite Foundation rule

	> *:last-child {
		margin-bottom: 0;
	}
}

.product-title {
	margin-bottom: 0;
}

.product-subtitle {
	@include heading-size(h3);
}

@include breakpoint(small only) {
	.product-image,
	.product-body {
		@include media-object-stack;

		text-align: center;

		img {
			height: 10rem;
			width: auto;
		}
	}

	.product-image {
		padding-right: 0 !important; // rewrite Foundation rule
	}
}

@include breakpoint(medium) {
	.product-image,
	.product-body {
		@include media-object-section($global-padding);

		vertical-align: middle;
	}
}

@include breakpoint(large) {
	.product-image,
	.product-body {
		@include media-object-section(4rem);

		vertical-align: middle;
	}
}