$spinner-size: rem-calc(80);
$spinner-margin-bottom: 1rem;

.spinner {
	display: block;
	width: 100%;
	 // vertical center
	position: absolute;
	top: 50%;
	// - (spiner-height + spinner-bottom + line-height) / 2
	margin-top: - (($spinner-size + $spinner-margin-bottom + 1rem) / 2);

	text-align: center;
	font-weight: $global-weight-bold;

	&:before {
		@include center-block;

		content: "";
		width: $spinner-size;
		height: $spinner-size;
		margin-bottom: $spinner-margin-bottom;

		background: url(../img/spinner.svg) no-repeat center center;
		background-size: cover;
		animation: spin 1.5s linear infinite;
	}
}
