<title>NESCAFÉ</title>
<meta name="description" content="">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-icon.png">

<!-- Hack rendering block in IE8 -->
<!--[if lt IE 9]><![endif]-->

<!-- build:css assets/css/main.css -->
<link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.css">
<link rel="stylesheet" href="bower_components/jquery-ui/themes/blitzer/theme.css">
<link rel="stylesheet" href="assets/css/main.css">
<!-- endbuild -->

<!-- build:js assets/js/vendor/head.js -->
<script src="assets/js/vendor/modernizr.js"></script>
<script src="bower_components/svg4everybody/dist/svg4everybody.js"></script>
<script src="bower_components/webfontloader/webfontloader.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/ie8-head.js -->
<!--[if lt IE 9]>
<script src="assets/js/vendor/selectivizr-1.0.3b.js"></script>
<script src="bower_components/respond/dest/respond.min.js"></script>
<![endif]-->
<!-- endbuild -->

<script>
	(function(d) {
		if (sessionStorage.wfCached) {
			d.documentElement.className += " wf-active";
		} else {
			WebFont.load({
				custom: { families: [ 'Nescafe Sans' ] },
				active: function() { sessionStorage.wfCached = true; }
			});
		}
	})(document);
</script>