<!--[if gt IE 8]><!-->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.0.js"><\/script>')</script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.8.0.js"><\/script>')</script>
<![endif]-->

<!-- PRO SK -->

<!-- build:js assets/js/jquery-ui-sk.js -->
<!-- <script src="bower_components/jquery-ui/ui/datepicker.js"></script> -->
<!-- <script src="bower_components/jquery-ui/ui/i18n/datepicker-sk.js"></script> -->
<!-- endbuild -->

<!-- PRO CS -->

<!-- build:js assets/js/jquery-ui-cs.js -->
<script src="bower_components/jquery-ui/ui/datepicker.js"></script>
<script src="bower_components/jquery-ui/ui/i18n/datepicker-cs.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/main.js -->
<script src="assets/js/plugins.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>

<script src="bower_components/foundation-sites/js/foundation.core.js"></script>
<script src="bower_components/foundation-sites/js/foundation.util.mediaQuery.js"></script>
<script src="bower_components/foundation-sites/js/foundation.util.keyboard.js"></script>
<script src="bower_components/foundation-sites/js/foundation.util.motion.js"></script>
<script src="bower_components/foundation-sites/js/foundation.responsiveToggle.js"></script>
<script src="bower_components/foundation-sites/js/foundation.accordion.js"></script>

<script src="assets/js/components/smoothScrolling.js"></script>
<script src="assets/js/components/loading.js"></script>

<script src="assets/js/main.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/ie8-body.js -->
<!--[if lt IE 9]>
<script src="bower_components/REM-unit-polyfill/js/rem.min.js"></script>
<![endif]-->
<!-- endbuild -->
