@mixin arrow ($direction, $size, $color) {
	border-left: $size solid transparent;
	border-right: $size solid transparent;

	@if $direction == top {
		border-bottom: $size solid $color;
		border-top: none;
	} @else if $direction == bottom {
		border-top: $size solid $color;
		border-bottom: none;
	}
}