@mixin chevron ($direction, $size: .8rem, $border-width: rem-calc(3)) {
	border-style: solid;
	border-width: $border-width $border-width 0 0;
	width: $size;
	height: $size;

	@if $direction == top {
		transform: rotate(135deg);
		margin-top: -(.3 * $size);
	} @else if $direction == bottom {
		transform: rotate(-45deg);
		margin-top: (.7 * $size);
	}
}