/*
 * Mixin for gutter
 */
@mixin gutter () {
	@each $size, $gutter in $grid-column-responsive-gutter {
		@include breakpoint($size) {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}

/*
 * Mixin for container
 */
@mixin container () {
	max-width: $global-width;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Mixin for narrow container
 */
@mixin container-narrow () {
	max-width: $global-narrow-width;
	margin-left: auto;
    margin-right: auto;
}

$container-vertical-padding: (
	small: (
		normal: 3rem,
		low: 3rem,
	),
	medium: (
		normal: 3rem,
		low: 3rem,
	),
);

/*
 * Mixin for container vertical padding
 */
@mixin container-vertical-padding () {
	@each $size, $vertical-padding in $container-vertical-padding {
		@include breakpoint($size) {
			padding-top: map-get($vertical-padding, normal);
			padding-bottom: map-get($vertical-padding, normal);
		}
	}
}

/*
 * Mixin for container vertical padding
 */
@mixin container-vertical-padding-low () {
	@each $size, $vertical-padding in $container-vertical-padding {
		@include breakpoint($size) {
			padding-top: map-get($vertical-padding, low);
			padding-bottom: map-get($vertical-padding, low);
		}
	}
}
