/*
 * Mixin for heading size
 */
@mixin heading-size ($heading: h1) {
	@each $size, $headers in $header-sizes {
		@include breakpoint ($size) {
			font-size: rem-calc(map-get($headers, $heading));
		}
	}
}