/*
 * Mixin for inversed background
 */
@mixin inversed-background () {
	background-color: $white;
}

/*
 * Mixin for inversed text
 */
@mixin inversed-text () {
	color: $black;
}

/*
 * Mixin for inversed anchors
 */
@mixin inversed-anchors () {
	a:not(.button) {
		color: $anchor-inversed-color;
		text-decoration: $anchor-inversed-text-decoration;

		&:hover,
		&:focus {
			color: $anchor-inversed-color-hover;

			@if $anchor-inversed-text-decoration-hover != $anchor-inversed-text-decoration {
				text-decoration: $anchor-inversed-text-decoration-hover;
			}
		}
	}
}

/*
 * Mixin for inverse form
 */
@mixin inversed-forms () {
	input:not([type=submit]),
	textarea {
		border: 1px solid $medium-gray;

		&:focus {
			border: 1px solid $black;

			@if has-value($input-transition) {
				transition: $input-transition;
			}
		}
	}

	label {
		color: $black;
	}
}

/*
 * Mixin for all inverse mixins
 */
@mixin inversed-all () {
	@include inversed-background;

	@include inversed-text;

	@include inversed-anchors;

	@include inversed-forms;
}
