$section-margin: (
	medium: 4rem,
	small: 3rem,
);

/*
 * Mixin for section margin top
 */
@mixin section-margin-top () {
	@each $size, $margin in $section-margin {
		@include breakpoint($size) {
			margin-top: $margin;
		}
	}
}

/*
 * Mixin for section margin bottom
 */
@mixin section-margin-bottom () {
	@each $size, $margin in $section-margin {
		@include breakpoint($size) {
			margin-bottom: $margin;
		}
	}
}