@mixin share() {
	margin-bottom: 0;

	dt {
		margin-right: .6rem;

		&:after {
			content: ":";
		}
	}

	dt,
	dd {
		display: inline-block;
	}

	svg {
		width: rem-calc(35);
		height: rem-calc(35);
		vertical-align: middle;
	}
}